* {
  text-align: center;
  font-family: 'Winky Sans', sans-serif;
}

body {
  margin: 0px;
}

header {
  background-color: #bb99ff;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  margin: 10px;
}

#menu {
  background-color: #ddccff;
  margin: 50px;
  border-radius: 20px;
  padding: 10px;
}

#jogo {
  margin: 50px;
  border: 2px solid black;
  border-radius: 20px;
  padding: 20px;
}

#placar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.placar {
  margin: 0px;
}

img {
  width: 200px;
}

li {
  list-style-type: none;
}

button {
  background-color:#ddccff;
  margin: 0 10px 10px 10px;
  border: none;
  border-radius: 10px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
}

button:hover {
  background-color: #bb99ff;
  cursor: pointer;
}